body {
    background-color: rgb(57, 112, 176);
    margin: 10%;
}

h1 {
    text-align: left;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.row {
    text-align: center;
}



#graphs-container {
    background-color: rgb(255, 255, 255);
    margin-top: 15px;
}
