body {
    background-color: rgb(57, 112, 176);
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10%;
}

h1 {
    text-align: left;
    font-size: 30px;
    color: rgb(218, 218, 218);
}

.row {
    text-align: center;
}



#areagraph {
    background-color: white;
    margin-top: 15px;
}
